<!--Banner Area Start-->
<div class="home-four-banner-area" data-section-id="{{ section.id }}">
  <div class="row">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}

    {% case forloop.index %}
    {% when 1 %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="img">
        {% if block.settings.link != blank %}          
        <a href="{{ block.settings.link }}" class="white-hover" {{ block.shopify_attributes }}>
          {% endif %}
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: '630x432' }}" alt=""/>
          {% endif %}
          {% if block.settings.link != blank %}          
        </a>
        {% endif %}
      </div>
      {% when 2 %}
      <div class="img">
        {% if block.settings.link != blank %}          
        <a href="{{ block.settings.link }}" class="white-hover" {{ block.shopify_attributes }}>
          {% endif %}
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: '630x432' }}" alt=""/>
          {% endif %}
          {% if block.settings.link != blank %}          
        </a>
        {% endif %}
      </div>
    </div>
    {% when 3 %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="img">
            {% if block.settings.link != blank %}          
            <a href="{{ block.settings.link }}" class="white-hover" {{ block.shopify_attributes }}>
              {% endif %}
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: '630x432' }}" alt=""/>
              {% endif %}
              {% if block.settings.link != blank %}          
            </a>
            {% endif %}
          </div>
          {% when 4 %}
          <div class="img">
            <a href="{{ settings.feature_advert_4_link }}" class="white-hover">
              <img src="{{ 'feature_advert_4.jpg' | asset_url }}" alt="">
            </a>
          </div>
        </div>
        {% when 5 %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="img">
            {% if block.settings.link != blank %}          
            <a href="{{ block.settings.link }}" class="white-hover" {{ block.shopify_attributes }}>
              {% endif %}
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: '630x432' }}" alt=""/>
              {% endif %}
              {% if block.settings.link != blank %}          
            </a>
            {% endif %}
          </div>
          {% when 6 %}
          <div class="img">
            {% if block.settings.link != blank %}          
            <a href="{{ block.settings.link }}" class="white-hover" {{ block.shopify_attributes }}>
              {% endif %}
              {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: '630x432' }}" alt=""/>
              {% endif %}
              {% if block.settings.link != blank %}          
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    {% endcase %}
    {% endfor %}
    {% endif %}
  </div>
</div>
<!--End of Banner Area-->